<form method="post" action="/deletefile" >
      <input type="text" style="width: 259px; name="path" placeholder="Path for dropbox file(e.g. /temp/test.png)" />
      <button type="submit">download</button>
    </form>
