<form method="post" action="/download" >
      <input type="text" style="width: 293px; name="sharedlink" placeholder="Dropbox shared link to a file" />
      <button type="submit">download</button>
    </form>
