<form method="post" action="/store" novalidate enctype="multipart/form-data">

  <div class="form-field">
    <label for="photo">file</label>
    <input class="input" id="photo" name="photo" type="file" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">upload</button>
  </div>
</form>